{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h2 class="text-center">Top for BMW M3</h2>
        {% include '::home/top-in-category.html.twig' with {'images': bmw } %}
    </div>

    <div class="row">
        <h2 class="text-center">Top for Nissan Skyline R-34</h2>
        {% include '::home/top-in-category.html.twig' with {'images': skyline } %}
    </div>

    <div class="row">
        <h2 class="text-center">Top for Shelby GT500 '67</h2>
        {% include '::home/top-in-category.html.twig' with {'images': shelby } %}
    </div>

    <div class="row">
        <h2 class="text-center">Random Wallpapers</h2>
        {% for image in randomised_images %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/images/{{ image }}" alt="..."/>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}